/*!
 * KETO
 * Copyright 2020 Start Bootstrap
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

@media (min-width: 1200px) {
  .container {
    max-width: 930px;
  }
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul.p {
  padding-left: 20px;
}

ul.p li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

@media (max-width: 575px) {
  section h2 {
    font-size: 30px;
  }
}

li {
  list-style-type: none;
  font-size: 10px;
  color: grey;
}

h2 {
  color: #000;
  font-weight: 600;
  font-size: 46px;
  letter-spacing: 0;
}

h2 span {
  color: #661997;
}

.godaddy-badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 767px) {
  .godaddy-badge {
    display: none;
  }
}

.section-1 {
  padding: 0;
  background: #f7cb2e;
  background: linear-gradient(180deg, #f7cb2e 0%, #f58d23 100%);
}

.section-1 h2 {
  color: #FFF;
}

.section-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.section-inner p {
  color: #FFF;
}

.item-title {
  font-weight: 600;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 18px;
}

.item-subtitle {
  color: #A2D42E;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 18px;
}

.section-2 {
  padding-top: 40px;
}

.section-3 {
  padding: 0;
  background: #60bc47;
  background: linear-gradient(90deg, #60bc47 0%, #a4ce2b 35%, #9dca2e 100%);
}

.section-3 h2 {
  color: #FFF;
  font-weight: 700;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.section-3 .section-3-span-text {
  color: #073B09;
}

.section-3 .section-3-span-text-sm {
  color: #073B09;
  font-size: 16px;
}

.section-3 ul li {
  color: #FFF;
  list-style-type: disc;
}

.section-2,
.section-4 {
  overflow: hidden;
}

.section-4-span-text {
  color: #ED1873;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 700;
}

.section-4-author {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 600;
  text-align: right;
  margin-left: 20rem;
}

.section-5 {
  padding: 2rem 0;
  background: #f7f7f7;
}

.footer-text {
  font-size: 12px;
}

.slick-dots li button:before {
  font-size: 15px;
}

.slick-slide {
  outline: none;
}

.one-time .item {
  display: flex;
  align-items: center;
}

@media (max-width: 575px) {
  .one-time .item {
    flex-direction: column;
    padding: 0 30px;
  }
}

.one-time p {
  padding-left: 20px;
}

@media (max-width: 575px) {
  .one-time p {
    padding: 20px 0;
  }
}

.one-time p:last-child {
  margin-bottom: 0;
}

.slider-how-to .item {
  padding: 0 15px;
}

@media (max-width: 575px) {
  .img-1 {
    text-align: center;
    padding-bottom: 40px;
  }
}

.slick-dots li {
  margin: 0 2px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #8916AB;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  z-index: 1;
}

@media (max-width: 575px) {
  #mainNav {
    height: 60px;
  }
}

#mainNav .navbar-brand {
  color: #fdcc52;
  padding: 0;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

@media (max-width: 575px) {
  #mainNav .navbar-brand {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

#mainNav .navbar-brand img {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 575px) {
  #mainNav .navbar-brand img {
    max-width: 160px;
  }
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: #8916AB;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: #8916AB;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

.nav-container {
  display: flex;
}

@media (max-width: 575px) {
  .nav-container {
    display: none;
  }
}

.nav-content {
  color: #FFF;
  font-style: italic;
  font-size: 22px;
  padding-right: 30px;
  text-align: right;
}

.nav-content small {
  display: block;
  font-style: normal;
  font-size: 14px;
}

.nav-content span {
  color: #1ABEEF;
}

.arrow_box {
  position: relative;
}

.arrow_box:after {
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 576px) {
  .arrow_box:after {
    display: none;
  }
}

.arrow_box:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 120px 0 120px;
  border-color: #8916AB transparent transparent transparent;
}

@media (min-width: 576px) {
  #cta-mobile {
    display: none;
  }
}

.top-bar {
  background-color: #000;
  color: #FFF;
  padding: 6px 0;
  font-size: 14px;
}

.top-bar span {
  color: #E6B32F;
}

header.masthead {
  position: relative;
  padding-top: 45px;
  width: 100%;
  color: white;
  background: url("../images/model.jpg") no-repeat top right;
}

@media (min-width: 992px) {
  header.masthead {
    height: 700px;
  }
}

@media (max-width: 575px) {
  header.masthead {
    background-size: 80%;
    background-position: 220% 0;
  }
}

header.masthead .header-content {
  position: relative;
}

header.masthead .product {
  position: absolute;
  bottom: 0;
  right: 60px;
  max-width: 160px;
}

@media (max-width: 575px) {
  header.masthead .product {
    right: 0px;
    max-width: 120px;
  }
}

header.masthead .product img {
  width: 100%;
}

header.masthead h3 {
  color: #000;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 1;
  font-size: 36px;
}

header.masthead h3 span {
  color: #FE5A1B;
}

label {
  color: #000;
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .header-right {
    padding-top: 60px;
  }
}

@media (max-width: 575px) {
  .header-right form {
    display: none;
  }
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding-bottom: 40px;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li a {
  color: #000;
  font-size: 12px;
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.btn-primary {
  background-color: #6ABE45;
  border-color: #6ABE45;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: .25s all ease-out;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #487f30;
  border-color: #487f30;
  transform: translateY(5%);
}

.form-control {
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px;
}
