// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

.container {
    @media (min-width: 1200px) {
        max-width: 930px;
    }
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul.p {
    padding-left: 20px;

    li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

section {
    padding: 100px 0;

    h2 {
        font-size: 50px;

        @media (max-width: 575px) {
            font-size: 30px;
        }
    }
}

li {
	list-style-type: none;
	font-size: 10px;
	color: grey;
}


h2 {
    color: #000;
    font-weight: 600;
    font-size: 46px;
    letter-spacing: 0;

    span {
        color: #661997;
    }
}

.godaddy-badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    @media (max-width: 767px) {
        display: none;
    }
}

.section-1 {
    padding: 0;
    background: rgb(247,203,46);
    background: linear-gradient(180deg, rgba(247,203,46,1) 0%, rgba(245,141,35,1) 100%);

    h2 {
        color: #FFF;
    }
}

.section-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;

    p {
        color: #FFF;
    }
}

.item-title {
    font-weight: 600;
    @include heading-font;
    font-size: 18px;
}

.item-subtitle {
    color: #A2D42E;
    @include heading-font;
    font-size: 18px;
}

.section-2 {
    padding-top: 40px;
}

.section-3 {
	padding: 0;
	background: rgb(96,188,71);
	background: linear-gradient(90deg, rgba(96,188,71,1) 0%, rgba(164,206,43,1) 35%, rgba(157,202,46,1) 100%);

	h2 {
			color: #FFF;
			font-weight: 700;
			@include heading-font;
	}

	.section-3-span-text {
		color: #073B09;
	}

	.section-3-span-text-sm {
		color: #073B09;
		font-size: 16px;
    }

    ul {
        li {
            color: #FFF;
            list-style-type: disc;
        }
    }
}

.section-2,
.section-4 {
    overflow: hidden;
}

.section-4-span-text {
	color: #ED1873;
	@include heading-font;
	font-weight: 700;
}

.section-4-author {
	@include heading-font;
	font-weight: 600;
	text-align: right;
	margin-left: 20rem;
}

.section-5 {
	padding: 2rem 0;
	background: rgb(247, 247, 247);
}

.footer-text {
	font-size: 12px;
}

.slick-dots li button:before {
    font-size: 15px;
}

.slick-slide {
    outline: none;
}

.one-time {
    .item {
        display: flex;
        align-items: center;

        @media (max-width: 575px) {
            flex-direction: column;
            padding: 0 30px;
        }
    }

    p {
        padding-left: 20px;

        @media (max-width: 575px) {
            padding: 20px 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.slider-how-to {
    .item {
        padding: 0 15px;
    }
}

.img-1 {
    @media (max-width: 575px) {
        text-align: center;
        padding-bottom: 40px;
    }
}

.slick-dots li {
    margin: 0 2px;
}